snippet nixpkgs
  nixpkgs.url = "github:nixos/nixpkgs/nixos-25.05";

snippet nixpkgs-unstable
  nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";

snippet pkgs
  pkgs = nixpkgs.legacyPackages.${system};

snippet forAllSystems
	forAllSystems =
		f:
		nixpkgs.lib.genAttrs (nixpkgs.lib.systems.flakeExposed) (
		  system:
		  f {
			inherit system;
			pkgs = nixpkgs.legacyPackages.`"${system}"`;
		  }
		);
