snippet component-export An empty react component
	export const fun: FC<{}> = ({}) => {
		return <div>
		</div>
	}

snippet newfile-component A new file with the minimum to make a component
	import { FC } from "react";
	import styles from "./styles.module.css";
	
	export const fun: FC<{}> = ({}) => {
		return <div>
		</div>
	}
