snippet err
  std.log.err("$1\n", .{})

snippet warn
  std.log.warn("$1\n", .{})

snippet info
  std.log.info("$1\n", .{})

snippet debug
  std.log.debug("$1\n", .{})

snippet print
  std.debug.print("$1\n", .{})

snippet gpa
  var gpa = std.heap.GeneralPurposeAllocator(.{}){};
  const alloc = gpa.allocator();
